body {
    margin: 0 !important;
    width: auto;
    height: 100%;
}

p {
    margin: 0;
}

.full {
    display: flex;
    width: 100%;
    height: auto;
    background: white;
}

.main_screen {
    background-size: 100%;
    background-position: 0%;
}

.img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

.menu {
    display: flex;
    position: relative;
    width: auto;
    height: 10%;
    color: aliceblue;
}

._name {
    font-family: Ribeye;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    width: 248px;
    height: 36px;
    top: 42px;
    left: 230px;
    margin-left: 230px;
    margin-top: 36px;
    color: #FFF;
}

.blog,
.about,
.contract,
.location {
    margin-left: 50px;
}

.blog,
.about,
.contract,
.location,
.home {
    margin-top: 47px;
    width: auto;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.booking {
    background: #C9453B;
    text-align: center;
    width: 163px;
    height: 51px;
    top: 49px;
    left: 1207px;
    border-radius: 5px;
    margin-left: 172px;

    margin-top: 35px;
}

.booking_now {
    margin-top: 14px;
    color: #FFF;
    width: auto;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.main_text {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* width: auto; */
    /* heig     ht: 10%; */
    /* width: 804px; */
    /* height: 154px; */
    /* color: #FFF; */
}

.top_text {
    font-family: Gelasio;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: rgb(255, 255, 255);
    margin-left: 230px;
    height: 100%;
    margin-top: 8%;
}

.bottom_text {
    opacity: 0.6;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-left: 230px;
    width: 458px;
}

.explore {
    background: #C9453B;
    text-align: center;
    width: 163px;
    height: 51px;
    top: 49px;
    left: 1207px;
    border-radius: 5px;
    margin-left: 172px;

    margin-top: 35px;
    /* background: #C9453B;
    width: 163px;
    height: 51px;
    border-radius: 5px;
    margin-top: 20px;
    text-align:center;
    margin-left: 230px; */
}

.explore_more {
    margin-top: 14px;
    color: #FFF;
    width: auto;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: auto;
    position: absolute; */
}