body {
    margin: 0 !important;
    width: 100%;
    height: auto;
}

p {
    margin: 0;
}

.full {
    display: flex;
    width: 100%;
    height: auto;
    background: white;
}

.main_screen {
    background-size: 100%;
    background-position: 0%;
    
}

.img {
    position: absolute;
    width: 100%;
    z-index: -1;
    transform: translateY(-9%);
}

.menu {
    display: flex;
    position: relative;
    width: auto;
    height: 10%;
    color: aliceblue;
}

._name {
    font-family: Ribeye;
    font-size: 24px;
    letter-spacing: 0.019em;
    text-align: left;
    width: 248px;
    height: 36px;
    top: 42px;
    left: 230px;
    margin-left: 14.4%;
    margin-top: 2.8%;
    color: #FFF;
}

.home {
    margin-left: 6.4%;
}

.blog,
.about,
.contract,
.location {
    margin-left: 3.5%;
}

.blog,
.about,
.contract,
.location,
.home {
    font-family: Roboto;
    margin-top: 2.95%;
    width: auto;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.booking {
    background: #C9453B;
    text-align: center;
    width: 10.15%;
    height: 60%;
    left: 1207px;
    border-radius: 5px;
    margin-left: 10.45%;

    margin-top: 2.17%;
}

.booking_now {
    margin-top: 8.7%;
    margin-left: 1.1%;
    color: #FFF;
    width: auto;
    font-family: Roboto;
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.main_text {
    display: flex;
    flex-direction: column;
}

.top_text {
    font-family: Gelasio;
    font-size: 425%;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: rgb(255, 255, 255);
    margin-left: 13.7%;
    height: 100%;
    margin-top: 12.7%;
    word-spacing: 0.5vw;
}

.bottom_text {
    margin-top: 2%;
    opacity: 0.6;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    margin-left: 14.35%;
    width: auto;
    word-spacing: 0.16vw;
}

.explore {
    background: #C9453B;
    text-align: center;
    width: 11.65%;
    height: 7%;
    top: 49px;
    left: 1207px;
    border-radius: 5px;
    margin-left: 14.4%;
    margin-top: 2.58%;
}

.explore_more {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.popular_Location {
    position: absolute;
    margin-top: 10vw;
    width: 100%;
    height: auto;
    background-color: #FFF;
}

.Location {
    text-align: center;
}